@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 245, 245, 0.164);
  height: 1rem;
  width: 1rem;
  border-radius: 1px 8px 8px 8px;
  border: none;
  margin: 2px;
}

body {
  font-family: 'Roboto', sans-serif;
  /* position: relative; */
  background-color: #666;
  height: 100vh;
}

/* Nav bar */
nav {
  background-color: rgba(0, 99, 248, 0.425);
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -30vw;
  top: -30vw;
  z-index: 10;
  transform: scale(0);
}
nav.open {
  transform: scale(5);
  transition: transform 0.5s ease-in-out;
}
nav .container {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

nav.open .container {
  transform: scale(1);
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 127, 80, 0.418);
}

nav.open .container .option {
  position: absolute;
}

/* menu buttons */

nav.open #home-btn {
  bottom: 21%;
  right: 8%;
}

nav.open #font-btn {
  bottom: 15%;
  right: 14%;
}

nav.open #book-btn {
  bottom: 9%;
  right: 21%;
}

nav.open #bookmark-btn {
  bottom: 17%;
  right: 22%;
}

nav.open #info-btn {
  bottom: 22%;
  right: 17%;
}

/* setting menu */
.icon-holder {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: -1rem;
  left: -1rem;
  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.39);
  display: flex;
  justify-content: center;
  align-items: center;
}

#setting-btn {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  outline: none;
  border: none;
  z-index: 11;
}

#setting-btn:hover {
  transform: rotate(180deg);
  transition: transform 1s ease-in-out;
}

#setting-btn.clicked {
  transform: rotate(360deg);
  transition: transform 0.6s ease-in-out;
}
