@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(20, 245, 245, 0.164);
  height: 1rem;
  width: 1rem;
  border-radius: 8px;
  border: none;
  margin: 2px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgba(20, 245, 245, 0.308);
}

body {
  font-family: 'Roboto', sans-serif;
  /* position: relative; */
  background-color: #666;
  height: 100vh;
}

/* Nav bar */
nav {
  background-color: rgba(0, 99, 248, 0.425);
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -28rem;
  top: -28rem;
  z-index: 10;
  transform: scale(0);
}
nav.open {
  transform: scale(5);
  transition: transform 0.7s ease-in-out;
}
nav .container {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.5s ease-in-out;
}

nav.open .container {
  transform: scale(1);
  visibility: visible;
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 127, 80, 0.418);
  transform-origin: left top;
}

nav.open .container .option {
  position: absolute;
}
.container.font-setting #home-btn,
.container.font-setting #font-btn,
.container.font-setting #book-btn,
.container.font-setting #bookmark-btn,
.container.font-setting #info-btn {
  transform: translate(0px, 0px);
  transition: transform 0.5 ease-in-out 2s;
}
/* menu buttons */

/* first meno */
nav.open #home-btn {
  transform: translate(109px, 70px);
}

nav.open #font-btn {
  transform: translate(95px, 90px);
}

nav.open #book-btn {
  transform: translate(75px, 108px);
}

nav.open #bookmark-btn {
  transform: translate(72px, 87px);
}

nav.open #info-btn {
  transform: translate(88px, 70px);
}
/* font menu */
.container.font-setting #undo-btn {
  transform: translate(75px, 77px);
}

.container.font-setting #plus-btn {
  transform: translate(110px, 72px);
}

.container.font-setting #minus-btn {
  transform: translate(98px, 88px);
}

.container.font-setting #up-btn {
  transform: translate(79px, 101px);
  height: 0.5rem;
  width: 0.5rem;
  justify-content: center;
  align-items: stretch;
  border-radius: 1px;
}

.container.font-setting #down-btn {
  transform: translate(79px, 110px);
  height: 0.5rem;
  width: 0.5rem;
  justify-content: center;
  align-items: flex-end;
  border-radius: 1px;
}
/* setting menu */
.container {
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: -1rem;
  left: -1rem;
  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.39);
  display: flex;
  justify-content: center;
  align-items: center;
}

#setting-btn {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  outline: none;
  border: none;
  z-index: 11;
  transition: transform 0.6s ease-in-out;
  transform: rotate(0deg);
}
#setting-btn:hover {
  transform: rotate(180deg);
  /* transition: transform 1s ease-in-out; */
}

#setting-btn.clicked {
  transform: rotate(100deg);
}
